/* Main CSS file */

html{
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gazeCursor {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(255,0,0,0.4);
  box-sizing: border-box;
  border-radius: 50%;
  pointer-events: none;
  visibility: hidden;
  z-index: 3;
}

#square {
  background-color: skyblue;
  height: 200px;
  width: 200px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}
